

.library-title {
    margin-bottom: 20px;
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
  
  }
  .library-title-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
  }
  
  .library-title-num {
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
  }